<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="start"></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-img src="assets/images/Logo.svg" style="display: block; margin: 0 auto;"></ion-img>


  <!-- ====================== ADMIN  ====================== -->
  <div class="d-flex-center" *ngIf="rol === 'admin'">
    <ion-button (click)="viewPersonal()"  mode="ios" shape="round">
      Personal
    </ion-button>
    <ion-button (click)="viewServices()"  mode="ios" shape="round">
      Servicios
    </ion-button>
    <ion-button (click)="viewProducts()"  mode="ios" shape="round">
      Productos
    </ion-button>
    <ion-button (click)="viewOrders()"   mode="ios" shape="round">
      Pedidos
    </ion-button>
  </div>

  <!-- ====================== ADMINISTRATIVO  ====================== -->
  <div class="d-flex-center" *ngIf="rol === 'administrativo'">
    <ion-button (click)="viewAtteentions()"  mode="ios" shape="round">
      Atenciones
    </ion-button>
    <ion-button (click)="viewOrders()"   mode="ios" shape="round">
      Pedidos
    </ion-button>
    <ion-button (click)="scheduleAppointment()"   mode="ios" shape="round">
      Agendar Horas
    </ion-button>
  </div>

  <!-- ====================== MECANICO  ====================== -->
  <div class="d-flex-center" *ngIf="rol === 'mecanico'">
    <ion-button (click)="viewPersonal()"  mode="ios" shape="round">
      Atenciones
    </ion-button>
    <ion-button (click)="viewOrders()"   mode="ios" shape="round">
      Pedidos
    </ion-button>
    <ion-button (click)="viewOrders()"   mode="ios" shape="round">
      Agendar Horas
    </ion-button>
  </div>

  <!-- ====================== CLIENTE  ====================== -->
  <div class="d-flex-center" *ngIf="rol === 'cliente'">
    <ion-button (click)="obtUbicacion()" expand="block" mode="ios" shape="round">
      Obtener ubicación
    </ion-button>
  </div>

  <div class="d-flex-center">
    <ion-button color="medium" (click)="signOut()">Cerrar sesión</ion-button>
  </div>
</ion-content>

<app-footer></app-footer>