<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="start"></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-img src="assets/images/Logo.svg" style="display: block; margin: 0 auto;"></ion-img>
  <div class="d-flex-center" *ngIf="rol === 'admin'" >
    <ion-segment value="perfil" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="personal"  (click)="viewPersonal()">
        Personal
      </ion-segment-button>
      <ion-segment-button value="servicios" (click)="viewServices()">
        Servicios
      </ion-segment-button>
      <ion-segment-button value="productos" (click)="viewProducts()">
        Productos
      </ion-segment-button>
    </ion-segment>
  </div>
  <div class="d-flex-center" *ngIf="rol === 'cliente'" >
    <ion-button expand="block" mode="ios" shape="round">
      Servicio Emergencia
    </ion-button>
  </div>

  <div class="d-flex-center">
    <ion-button color="medium" (click)="signOut()">Cerrar sesión</ion-button>
  </div>

</ion-content>

<app-footer></app-footer>