ion-content {
  --background: #ffffff   

}
ion-img{
  max-width: 300px;
  max-height: 300px;
}


ion-content.ion-padding {
  --ion-safe-area-top: 20px;
  --ion-safe-area-bottom: 80px;
}

ion-item {
  --border-color: transparent;
  --padding-start: 16px;
  --padding-end: 16px;
  --highlight-color-focused: transparent;
  --border-width: 0;
  padding-top: 1%;
}

ion-button {
  --background: #3880ff;
  --border-radius: 8px;
  --box-shadow: none;
}

ion-grid.ion-align-items-center {
  height: 100%;
}
ion-button{
  --border-radius: 8px;
}

div {
  margin-top: 5%;
  margin-bottom: 15%;
}

.login-links ion-button {
  flex: 1;
  margin: 0 5px;
}