<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="start"></ion-menu-button>
      </ion-buttons>
      <ion-title>Registro</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" class="ion-padding">
    <ion-grid class="ion-align-items-center">
      <ion-img
      src="assets/images/Logo.svg"
      style="display: block; margin: 0 auto;"
    ></ion-img>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-item>
            <ion-input label="Nombre" label-placement="floating" fill="solid" type="Text"
              placeholder="Ingrese su nombre." required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Apellido" label-placement="floating" fill="solid" type="Text"
              placeholder="Ingrese su apellido." required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Rut" label-placement="floating" fill="solid" type="Text" placeholder="Ingrese su rut."
              required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Correo electrónico" label-placement="floating" fill="solid" type="email"
              placeholder="Ingrese su correo electrónico." required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Telefono" label-placement="floating" fill="solid" type="tel"
              placeholder="Ingrese su telefono." required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Contraseña" label-placement="floating" fill="solid" type="password"
              placeholder="Ingrese su contraseña." required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Confirmar contraseña" label-placement="floating" fill="solid" type="password"
              placeholder="Ingrese su contraseña." required></ion-input>
          </ion-item>
          <div>
            <ion-button expand="block" color="light" (click)="presentAlert()">Registrarse</ion-button>
            <ion-button color="medium" expand="block" routerLink="/home">Volver</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-content>

<ion-footer>
  <ion-item>
    <ion-label>© Desarrollado por: BrThDa</ion-label>
  </ion-item>
</ion-footer>