<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="start"></ion-menu-button>
    </ion-buttons>
    <ion-title>Registro de usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="login-content">
  <ion-grid class="ion-align-items-center">
    <ion-img src="assets/images/Logo.svg" style="display: block; margin: 0 auto"></ion-img>
    <div class="d-flex-center">
      <form [formGroup]="form" (ngSubmit)="Submit()" class="auth-form" (keypress.enter)="Submit()">

        <!-- Nombre -->
        <app-custom-input 
        icon="person-outline" 
        type="text" 
        label="Nombre" 
        [control]="form.controls.name"
        autocomplete="name"></app-custom-input>
        <div class="validators" *ngIf="form.controls.name.errors && form.controls.name.touched">
          <div *ngIf="form.controls.name.errors?.['required']">
            El nombre es requerido.
          </div>
          <div *ngIf="form.controls.name.errors?.['minlenght']">
            El nombre debe tener al menos 3 caracteres.
          </div>
        </div>

        <!-- Email -->
        <app-custom-input 
        icon="mail-outline" 
        type="email" 
        label="Correo Electrónico" 
        [control]="form.controls.email"
        autocomplete="email"></app-custom-input>
        <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
          <div *ngIf="form.controls.email.errors?.['required']">
            El correo es requerido.
          </div>
          <div *ngIf="form.controls.email.errors?.['email']">
            Ingrese un correo valido.
          </div>
        </div>

        <!-- Celular -->
        <app-custom-input 
        icon="call-outline" 
        type="tel" 
        label="Celular" 
        [control]="form.controls.telefono"
        autocomplete="telefono"></app-custom-input>
        <div class="validators" *ngIf="form.controls.telefono.errors && form.controls.telefono.touched">
          <div *ngIf="form.controls.telefono.errors?.['required']">
            El celular es requerido.
          </div>
          <div *ngIf="form.controls.telefono.errors?.['tel']">
            Ingrese un celular valido.
          </div>
        </div>

        <!-- Password -->
        <app-custom-input 
        icon="lock-closed-outline" 
        [control]="form.controls.password" 
        type="password"
        label="Contraseña">
        </app-custom-input>
        <div class="validators" *ngIf="form.controls.password.errors && form.controls.password.touched">
          <div *ngIf="form.controls.password.errors?.['required']">
            La contraseña es requerida.
          </div>
        </div>
        <ion-button expand="block" mode="ios" class="submit" type="submit" [disabled]="form.invalid" color="medium">
          Registrarse
          <ion-icon slot="end" name="person-add-outline"></ion-icon>
        </ion-button>
        <ion-button color="medium"  routerLink="/home">
          Volver
          <ion-icon slot="end" name="arrow-back-outline"></ion-icon>
        </ion-button>
      </form>
    </div>
  </ion-grid>
</ion-content>

<app-footer></app-footer>