<app-header [isModal]="true" [title]="order ? 'Actualizar Pedido' : 'Agregar Pedido'"></app-header>
<ion-content>
  <ion-img src="assets/images/Logo.svg" style="display: block; margin: 0 auto"></ion-img>
  <div class="d-flex-center">
    <form [formGroup]="form" (ngSubmit)="Submit()" class="auth-form" (keypress.enter)="Submit()">
      <!-- Proveedor -->
      <app-custom-input icon="business-outline" type="text" label="Proveedor" [control]="form.controls.proveedor"
        autocomplete="proveedor"></app-custom-input>
      <div class="validators" *ngIf="form.controls.proveedor.errors && form.controls.proveedor.touched">
        <div *ngIf="form.controls.proveedor.errors?.['required']">
          El proveedor es requerido.
        </div>
        <div *ngIf="form.controls.proveedor.errors?.['minlenght']">
          El proveedor debe tener al menos 3 caracteres.
        </div>
      </div>
      <!-- Producto -->
      <ion-item>
        <ion-textarea label="Productos" labelPlacement="floating" [formControl]="form.controls.producto" placeholder="Ingrese Productos"></ion-textarea>
      </ion-item>
      <div class="validators" *ngIf="form.controls.producto.errors && form.controls.producto.touched">
        <div *ngIf="form.controls.producto.errors?.['required']">
          Los productos son requeridos.
        </div>
      </div>
      <!-- Botón de enviar -->
      <ion-button mode="ios" class="ion-margin" type="submit" [disabled]="form.invalid" color="medium">
        {{order ? 'Actualizar Pedido' : 'Agregar Pedido'}}
      <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
      </ion-button>
    </form>
  </div>
</ion-content>