ion-toolbar {
    --background: #3880ff;
    --color: #fff;

    ion-buttons {
        margin-right: 8px;
    }

    ion-button.menu-button {
        --background: transparent;
        --color: #fff;
    }
}

