ion-content {
    --background: url('/assets/images/background.png') 0 0/100% 100% no-repeat;
  }
  

ion-item {
    margin-bottom: 20px;
}

ion-button {
    margin-top: 20px;
}

ion-grid {
    padding-top: 50%;
  }
  

ion-item {
    --border-color: transparent;
    --color: #fff;
    --border-radius: 8px;
    padding-top: 1%;
  }
  