ion-content {
  --background: #ffffff            
}
ion-img{
  max-width: 300px;
  max-height: 300px;
}

ion-item {
  padding-top: 1%;
}

ion-button {
  --border-radius: 8px;
  --box-shadow: none;
}

div {
  --border-radius: 8px;
  margin-top: 1%;
}

.login-content {
  max-width: 100%;
  margin: 0 auto;
}

.login-buttons ion-button {
  flex: 1;
  margin: 0 5px;
}

.login-links ion-button {
  flex: 1;
  margin: 0 5px;
}