<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-img src="assets/login.svg"></ion-img>
  <br>

  <ion-item>
    <ion-label position="floating">Usuario</ion-label>
    <ion-input placeholder="Ingrese nombre de usuario"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input placeholder="Ingrese contraseña"></ion-input>
  </ion-item>

  <ion-item>
    <div id="container">
      <ion-button size="default"><ion-icon slot="end" name="mail"></ion-icon>Iniciar sesión</ion-button>
    </div>

  </ion-item>
  <ion-item>
    <div>
      <ion-button class="boton" fill="clear" [routerLink]="['/home']">Volver</ion-button>
    </div>
  </ion-item>



</ion-content>
