<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="start"></ion-menu-button>
      </ion-buttons>
      <ion-title>Iniciar Sesión</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" class="ion-padding">
    <ion-grid class="ion-align-items-center">
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-item>
            <ion-label position="floating">Usuario</ion-label>
            <ion-input [(ngModel)]="usuario" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" required></ion-input>
          </ion-item>
          <div>
          <ion-button id="button" color="light" (click)="iniciarSesion()" class="ion-text-center">Iniciar Sesión</ion-button>
          <ion-button  id="button" color="light" class="ion-text-center" routerLink="/register">Registrarse </ion-button>
          </div>
          <ion-buttons class="ion-justify-content-center">
            <ion-button color="medium" routerLink="/forgot-password">¿Olvidaste tu contraseña?</ion-button>
            <ion-button color="medium" routerLink="/home">Volver</ion-button>
          </ion-buttons>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

  <ion-footer>
  </ion-footer>
</ion-content>