ion-content {
  --background: url('/assets/images/background.png') 0 0/100% 100% no-repeat;
}

ion-item {
  --border-color: transparent;
  --color: #fff;
  --border-radius: 8px;
  padding-top: 1%;
}

ion-button {
  --border-radius: 8px;
  --box-shadow: none;
}

ion-grid {
  padding-top: 50%;
}

ion-label{
  color: black;
}

div {
  --border-radius: 8px;
  margin-top: 5%;
  margin-bottom: 3%;
  padding-bottom: 3%;

}

.login-content {
  max-width: 100%;
  margin: 0 auto;
}

.login-buttons ion-button {
  flex: 1;
  margin: 0 5px;
}

.login-links ion-button {
  flex: 1;
  margin: 0 5px;
}