.img-card{
    max-width: 200px;
    max-height: 200px;
    margin: 0 auto;
}

ion-card {
    text-align: center;
    --background: linear-gradient(to bottom right, #b0b0b0, #888888);
    --color: #e7e7e7;
  }