// Hide all elements
body.barcode-scanner-active {
    visibility: hidden;
    --background: transparent;
    --ion-background-color: transparent;
  }
  
  // Show only the barcode scanner modal
  .barcode-scanner-modal {
    visibility: visible;
  }
  
  @media (prefers-color-scheme: dark) {
    .barcode-scanner-modal {
      --background: transparent;
      --ion-background-color: transparent;
    }
  }

  ion-img{
    max-width: 300px;
    max-height: 300px;
  }
  
  .linkQR{
    text-decoration: none;
    text-align: center;
    font-weight: bold;
  }
  